*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* background styling */
body{
    width: 100%;
    background-image: url(./images/background1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

/* header styleling */

.row{
    max-width: 1140px;
    margin: 0 auto;
}



header{   
    height: 100vh;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
}

.hearo-text-box{
    position: absolute;
    width: 800px;
    top: 50%;
    left: 5%;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
    
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

.logo{
    height: 15%;
    width: auto;
    left: 5%;
    position: absolute;
    filter: brightness(0) invert(1);
}
.logo:hover{
    filter: none;
}

.main-nav{
    position: absolute;
    float: right;
    list-style: none;
    margin-top: 55px;
    left: 45%;

}

.main-nav li{
    display: inline-block;
    margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 98%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
.sticky {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

/* Background styles */

.wrapper span{
    position: fixed;
    top: -120px;
    height: 50px;
    width: 50px;
    z-index: -1;
    animation: animate 10s linear infinite;    
}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay:0.6s;
    border: 5px solid cyan;
}
.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    background: #ff4293;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    border: 5px solid #fff;    
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
    background: #befb46;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    border: 5px solid #ff4293;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    border: 5px solid deepskyblue;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
    background: #ffd59e;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    border: 5px solid #befb46;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
    background: cyan;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    border: 5px solid #fff;    
}

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
        background-position: 0% 50%;
    }
    80%{
        opacity: 0.7;
        background-position: 100% 50%;
    }
    100%{
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
        
    }
}

/* box styling */

.start_btn,
.info_box,
.results_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease;
}

/*Quiz button styling*/

.start_btn button{
    font-size: 25px;
    font-weight: 600;
    color: #e67e22;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
.start_btn button:hover{
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.info_box{
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.9);
    width: 540px;
    height: 360px;
    pointer-events: none;
    background: white;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.info_box.activeInfo{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    display: flex;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Serif', serif;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 10px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: #cf6d17;
}

.info_box .buttons{
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #e67e22;
    border-radius: 5px;
    background: white;
    color: #e67e22;
    font-size: 16px;
    cursor: pointer;

}

.buttons button.start{
    color: white;
    background: #e67e22;
    transition: all 0.2s ease;
    
}

.buttons button.quit{
    color: #e67e22;
    background: white;
    transition: all 0.2s ease;

}

.buttons button.start:hover{
    background: #e67e22;
    
}

.buttons button.quit:hover{
    color: white;
    background: #e67e22;
}

/* quiz box styling */

.quiz_box{
    opacity: 0; 
    width: 550px;
    background: white;
    border-radius: 5px;
}

.quiz_box.active{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    pointer-events: auto;
}

.quiz_box header{
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    background: white;
    padding: 0 30px;
    height: 65px;
    align-items: center;
    box-shadow: 0 4px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}

.quiz_box header .timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 45px;
    border: 1px solid #fcc28f;
    background: #f8f1eb;
    padding: 0 8px;
}

.quiz_box header .timer .timer_text{
    font-size: 18px;
    font-weight: 400;
    user-select: none;

}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    display: flex;
    justify-content: center;
    background: #343a40;
    font-weight: 500;
    width: 45px;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    line-height: 30px;
}

.quiz_box .que{
    margin-top: 5px;
    background: white;
    padding: 15px 30px 20px 30px;
}

.quiz_box .que .que_text{
    font-size: 20px;
    font-weight: 600;
}
    
.quiz_box .que .option_list{
    margin-top: 15px;
    display: block;
}

.option_list .option{
    margin-top: 5px;
    border-radius: 5px;
    background:#f8f1eb;
    border: 1px solid #fcc28f;
    padding: 10px 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    font-size: 18px;
}
.option_list.click_dissable{
    pointer-events: none;
}

.option_list .option.Correct{
    color:#641920;
    background: #d1ecd8;
    background-color: #bcdfc4;
    pointer-events: none;
}

.option_list .option.Wrong{
    transition: all 0.2s ease;
    color: #691a22;
    background: #f1cfd2;
    background-color: #f3c2c7;
    pointer-events: none;
}

.que .option_list .option:last-child{
    margin-bottom: 0px;
}

.que .option_list .option:hover{
    color: #004085;
    background: #cce6ff;
    background-color: #f5deca;
    transition: all 0.2s ease;
    cursor: pointer;
}

.que .option_list .option .icon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    pointer-events: none;
    border: 2px solid transparent;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.que .option_list .option .icon.cross{
    border-color: rgb(255, 0, 6);
    background: #f8d7da;
    color: rgb(255, 0, 6);
    
}

.que .option_list .option .icon.tick{
    border-color: rgb(6, 196, 6);
    background: #d4edda;
    color: rgb(6, 196, 6);
    
}

/* Qustion box footer styling */

.quiz_box footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-top: 1px solid rgba(3, 3, 3, 0.158);
}

.quiz_box footer .total_questions span{
    display: flex;
    user-select: none;
    font-size: 17px;
}

.total_questions span p{
    font-weight: 600;
    padding: 0 3px;
    color: #e67e22;
}

footer .next_question{
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    padding: 0 13px;
    color: white;
    background: #e67e22;
    border-radius: 5px;
    border: 1px solid #e67e22;
    cursor: pointer;
}

footer .next_question:hover{
    background: #cf6d17;
}

/* styling resuls Box */

.results_box{
    display: none;
    width: 540px;
    height: 390px;
    border-radius: 5px;
    background: white;
}

.results_box.active{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    pointer-events: auto;
}

.results_box .icon{
    background:white;
    color: #e67e22;
    padding: 20px;
    font-size: 85px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.results_box .complete_text{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: black;

}

.results_box .score_text{
    margin-top: 10px;
    text-align: center;
    
}

.results_box .score_text span{
    user-select: none;
    justify-content: center;
    display: flex;
    
}

.score_text p{ 
    display: flex;    
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
}

.results_box .results_box_button{
    justify-content: center;
    display: flex;
    padding: 30px;
    
}

.results_box_button .restart{
    margin-left: 25px;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    background: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    cursor: pointer;
}

.results_box_button .quit_button{
    margin-left: 15px;
    padding: 15px 35px ;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #e67e22;
    background: white;
    color: #e67e22;
    cursor: pointer;
    transition: 0.1s all ease;
}

.results_box .restart:hover{
    background: rgb(14, 14, 141);
}

.results_box .quit_button:hover{
    background: rgb(14, 14, 141);
    color: white;

}


.editor-page-btn .editorBtn{
    width: 120px;

    font-family: 'Delicious Handrawn', cursive;
    height: auto;
    margin-bottom: 2%;
    border-radius: 25px;
    color: #ffffff;
    margin-left: 46%;
    padding: 10px;
    border:2px dotted #ffffff;
    transition: color 0.3s ,border 0.3s ease;
    background-color: transparent;
}
.editor-page-btn .editorBtn:hover{
    color: #e67e22;
    border:2px dotted #e67e22;
}


/* Footer Styling */



.footerSection{
    overflow: hidden;
    bottom: 0%;
    width: 100%;
    height: 150px;
    background-color: #34495e;
    padding: 50px;
    font-size: 20px;
}
.footer-nav{
    position: absolute;
    left: 5%;
    list-style: none;
    float: left;
    color: white;
    font-size: 20px;


    
}
.social-links{
    position: absolute;
    left: 80%;
    list-style: none;
    float: right;
    margin-right: 0px;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 15px;


}

.footer-nav li :last-child,
.social-links li :last-child {
    margin-right :0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration:none;
    border: 0;
    color:#fbf8f8;
    transition: color 0.2s;

}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e67e22;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook,
.fa-instagram,
.fa-youtube {
    transition: color 0.2s;
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
}


.fa-facebook:hover {
    color: #3b5998;
    border: 2px solid #3b5998;
}

.fa-instagram:hover {    
    
    color: #c32aa3;
    border: 2px solid #c32aa3;
}

.fa-youtube:hover {
    color: #ff0000;
    border: 2px solid #ff0000;
}

.footer-logo img{
    margin-left: 50%;
    bottom: 0;
    width: 120px;
    height: auto;
    filter: brightness(0) invert(1);
}

.footer-logo img:hover{
    filter:none;
}


.row p {
    color: white;
    margin-top: 5px;
    
}

.row p{
    color: #141212;
    text-align: left;
}