*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}



header{   
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
}

.hearo-text-box{
    position: absolute;
    width: 800px;
    top: 50%;
    left: 5%;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
    
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

.logo{
    height: 15%;
    width: auto;
    left: 5%;
    position: absolute;
    filter: brightness(0) invert(1);
}
.logo:hover{
    filter: none;
}

.main-nav{
    position: absolute;
    float: right;
    list-style: none;
    margin-top: 55px;
    left: 45%;
}

.main-nav li{
    display: inline-block;
    margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 98%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
.sticky {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.text{
    display: flex;
    padding-top: 150px;
    font-size: 55px;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.text .charset:nth-child(1){
    animation: drop 0.1s linear forwards;
}
.text .charset:nth-child(2){
    animation: drop 0.4s linear forwards;
}
.text .charset:nth-child(3){
    animation: drop 0.7s linear forwards;
}
.text .charset:nth-child(4){
    animation: drop 1s linear forwards;
}
.text .charset:nth-child(5){
    animation: drop 1.3s linear forwards;
}
.text .charset:nth-child(6){
    animation: drop 1.6s linear forwards;
}
.text .charset:nth-child(7){
    animation: drop 1.9s linear forwards;
}
.text .charset:nth-child(8){
    animation: drop 2.2s linear forwards;
}
.text .charset:nth-child(9){
    animation: drop 2.4s linear forwards;
}
.text .charset:nth-child(10){
    animation: drop 2.6s linear forwards;
}
.text .charset:nth-child(11){
    animation: drop 2.8s linear forwards;
}
.text .charset:nth-child(12){
    animation: drop 3s linear forwards;
}
.text .charset:nth-child(13){
    animation: drop 3.2s linear forwards;
}

.text .charset:nth-child(14){
    animation: drop 3.4s linear forwards;
}

.text .charset:nth-child(15){
    animation: drop 3.6s linear forwards;
}


@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

body{
    text-align: center;
    /* background: radial-gradient(circle,#24246e,#06051f); */
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/background.jpg);
    background-size: cover;
    justify-items: center;

}
.Students{
    display: grid;
    margin: 45px 90px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    animation: fadeIn 3.6s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.Students .student{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    border-radius: 35px;
}


.Students .student .photo{
    width:  100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0 ,81 ,250 ,0.1);
    transition: all 0.5s ease;
}
.Students .student .photo img{
    border: 5px solid #efefef57;
    border-radius: 15px;
    padding: 5px;
}

.Students .details{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 35px;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: visible;
    transform: translateY(110px) rotateX(-90deg);
    transition: all 0.5s ease;
    background: #efefef57;
    border-radius: 35px;
    
}
.student .details span{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}

.student:hover .details{
    opacity: 0.8;
    transform: rotateX(0deg);
}

.student:hover .photo{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}

/* Editor button styling */

.editor-page-btn .editorBtn{
    width: 120px;
    font-family: 'Delicious Handrawn', cursive;
    height: auto;
    margin-bottom: 1%;
    border-radius: 25px;
    margin-top: 120px;
    color: #ffffff;
    margin-left: 80%;
    padding: 10px;
    border:2px dotted #ffffff;
    transition: color 0.3s ,border 0.3s ease;
    background-color: transparent;
}
.editor-page-btn .editorBtn:hover{
    color: #e67e22;
    border:2px dotted #e67e22;
}

/* Footer Styling */


footer{    
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    width: 100%;
    height: 136px;
    background-color: #34495e;
    padding: 25px;
    font-size: 20px;
}
.footer-nav{
    position: absolute;
    left: 5%;
    list-style: none;
    float: left;
    color: white;
    font-size: 20px;

    
}
.social-links{
    position: absolute;
    left: 80%;
    list-style: none;
    float: right;
    margin-right: 0px;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 15px;


}

.footer-nav li :last-child,
.social-links li :last-child {
    margin-right :0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration:none;
    border: 0;
    color:#fbf8f8;
    transition: color 0.2s;

}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e67e22;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook,
.fa-instagram,
.fa-youtube {
    transition: color 0.2s;
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
}


.fa-facebook:hover {
    color: #3b5998;
    border: 2px solid #3b5998;
}

.fa-instagram:hover {    
    
    color: #c32aa3;
    border: 2px solid #c32aa3;
}

.fa-youtube:hover {
    color: #ff0000;
    border: 2px solid #ff0000;
}

/* .footer-logo img{
    width: 150px;
    height: auto;
    position: absolute;
    bottom: -8%;
    left: 50%;
    filter: brightness(0) invert(1);
}

.footer-logo img:hover{
    filter:none;
} */


.footer p {
    color: white;
    text-align: center;
    margin-top: 30px;
    
}

.row:last-child p{
    color: #141212;
    margin-top: 28px;
    padding-top: 10px;
}

.row p{
    color: white;
    margin-top: 30px;
    color: #141212;
    margin-top: 28px;
    padding-top: 10px;
    position: absolute;
    right:  61%;
}